/* animations.css */

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Blur background when panel chat appears */
.blur {
  filter: blur(5px);
}
